.click {
    cursor: pointer;
}

.click:hover {
    color: gray;
}

.selected {
    color: #cc9913 !important;
}

#guesses, #clues {
    margin: auto;
}
#avatarArea, #playArea {
    max-width: 30% !important;
}