.click {
    cursor: pointer;
}

.click:hover {
    color: gray;
}

.selected {
    color: #cc9913 !important;
}

#guesses, #clues {
    margin: auto;
}

canvas {
    max-width: 65vh;
    max-height: 65vh;
}