@keyframes glow {
    0% {
        text-shadow: none;
    } 
    50% {
        text-shadow: -2px 2px 8px rgba(255, 255, 255, 0.6), 2px -2px 8px rgba(255, 255, 255, 0.6);
    }
}

.player { 
    border: 3px solid #cc9913;
    border-radius: 5px;
    background: white;
    color: black;
    width: 50%;
}

.player > img {
    width: 50%;
    height: 50%;
    margin-bottom: -10%;
}

.glow {
    color: #cc9913;
    text-transform: capitalize;
    animation: glow 5000ms infinite;
}

img {
    background: white;    
}

#guesses,#clues {
    color: white;
    text-align: center;
}

.third {
    width: 30%;
}

#revealArea > .flex {
    padding: 2%;
}

i {
    color: #cc9913;
}

#guesses {
    width: 90%;
    border: #cc9913 1px solid;
    border-radius: 5px;
}

#guesses td {
    border: white 1px solid;
    border-radius: 5px;
    background-color: #4C2254;
}

.icon-count {
    min-width: 20%;
}
