.button {
    border: none;
    letter-spacing: 1px;
    font-weight: 700;
    background: #cc9913; 
    box-shadow: 0 5px #836416;
    border-radius: 7px;
    color: rgba(0, 0, 0, 0.644);
    cursor: pointer;
    margin: 10px;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}