h3 {
    color: #cc9913;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #251D2D;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    text-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

div.container{
    background-color: #4C2254;
    border-radius: 15px;
    box-shadow: 0px 0px 3px black;
    color: white;
    text-align: center;
    max-width: 75%;
    max-height: 75%;    
    margin: auto;
    margin-bottom: 1%;
    padding: 1%;
    display: table;
}

.hidden {
    display: none !important;
}

input, label {
    display: block;
}

input {
    font-size: 4em;
    width: 100%;
    text-align: center;
    border-radius: 1em;
}

button {
    border: none;
    letter-spacing: 1px;
    font-weight: 700;
    background: #cc9913; 
    box-shadow: 0 5px #836416;
    border-radius: 7px;
    color: rgba(0, 0, 0, 0.644);
    cursor: pointer;
    margin: 10px;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}

canvas {
    background: white;
    border-radius: 5px;
}

#users {
    display: flex;
}