#header {
    text-align: center;
    color: #cc9913;
}

#users {
    display: flex;
}


.table {
    display: table;
}

.row {
    display: table-row;
    margin-bottom: 1%;
}

.row > * {
    display: table-cell;
}

.outline {
    box-shadow: 0px 0px 3px black;
}


canvas {
    background: white;
    border-radius: 5px;
}

.avatar {
    background: white;
    border-radius: 25%;
}

.player { 
    border: 3px solid gold;
    border-radius: 5px;
    background: white;
    color: black;
    width: 50%;
}

.player > img {
    background: white;
    width: 50%;
    height: 50%;
    margin-bottom: -10%;
}