#header {
    text-align: center;
    color: #cc9913;
}




.table {
    display: table;
}

.row {
    display: table-row;
    margin-bottom: 1%;
}

.row > * {
    display: table-cell;
}

.outline {
    box-shadow: 0px 0px 3px black;
}




.avatar {
    background: white;
    border-radius: 25%;
}

